import(Matrix)
importFrom("data.table", "rbindlist")
importFrom("expm", "%^%")
importFrom("mvtnorm", "rmvnorm")
importFrom("methods", "as", "new")
importFrom("stats", "coef", "cor", "dist", "formula", "median",
             "pgamma", "qgamma", "rnorm", "runif", "var")
importFrom("utils", "packageVersion")
export(getParents, getParentsStable, simulateInterventions, 
       getRanking, convertForRanking, redoEval,
       evaluateRanking, ROCdfAllMethods)