import(Matrix)
importFrom("data.table", "rbindlist")
importFrom("expm", "%^%")
importFrom("methods", "as", "new")
importFrom("stats", "coef", "cov", "cor", "dist", "formula", "median",
            "pgamma", "qgamma", "rnorm", "runif", "var", 
            "rbinom", "qt", "rt", "pnorm", "aggregate", "sd")
export(getParents, getParentsStable, simulateInterventions, 
       getRanking, convertForRanking, evaluateRanking)